<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owl Carousel Example</title>

    <link rel="stylesheet" href="../css/owl_curosel.css">
    <!-- Include Owl Carousel CSS only for mobile -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" media="(max-width: 1023px)">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" media="(max-width: 1023px)">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="card-container">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="card">
                            <div class="card-img-top">
                                <picture>
                                    <source media="(min-width:992px)" srcset="../images/bc-negative-card.png" />
                                    <source media="(min-width:768px)" srcset="../images/bc-negative-card-mobile.jpg" />
                                    <source media="(min-width:0px)" srcset="../images/bc-negative-card-mobile.jpg" />
                                    <img src="../images/bc-negative-card-mobile.jpg" class="img-fluid w-100" alt="responsive-bg-img" />
                                </picture>
                            </div>
                            <div class="card-body same-height">
                                <h3 class="card-title">Triple Negative Breast Cancer</h3>
                                <p class="card-text">ASCENT-05: A Randomized, Open-label, Phase 3 Study of Adjuvant.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-img-top">
                                <picture>
                                    <source media="(min-width:992px)" srcset="../images/bc-triple-card.png" />
                                    <source media="(min-width:768px)" srcset="../images/bc-triple-card-mobile.png" />
                                    <source media="(min-width:0px)" srcset="../images/bc-triple-card-mobile.png" />
                                    <img src="../images/bc-triple-card-mobile.png" class="img-fluid w-100" alt="responsive-bg-img" />
                                </picture>
                            </div>
                            <div class="card-body same-height">
                                <h3 class="card-title">Triple Negative Breast Cancer</h3>
                                <p class="card-text">ASCENT-05: A Randomized, Open-label, Phase 3 Study of Adjuvant.</p>
                            </div>
                        </div>
                    </div>
                  
                    <div class="item">
                        <div class="card">
                            <div class="card-img-top">
                                <picture>
                                    <source media="(min-width:992px)" srcset="../images/imag3.jpg" />
                                    <source media="(min-width:768px)" srcset="../images/imag3.jpg" />
                                    <source media="(min-width:0px)" srcset="../images/imag3.jpg" />
                                    <img src="../images/imag3.jpg" class="img-fluid w-100" alt="responsive-bg-img" />
                                </picture>
                            </div>
                            <div class="card-body same-height">
                                <h3 class="card-title">Triple Negative Breast Cancer</h3>
                                <p class="card-text">ASCENT-05: A Randomized, Open-label, Phase 3 Study of Adjuvant.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-img-top">
                                <picture>
                                    <source media="(min-width:992px)" srcset="../images/resize-17252684791024417885imag1.jpg" />
                                    <source media="(min-width:768px)" srcset="../images/resize-17252684791024417885imag1.jpg" />
                                    <source media="(min-width:0px)" srcset="../images/resize-17252684791024417885imag1.jpg" />
                                    <img src="../images/resize-17252684791024417885imag1.jpg" class="img-fluid w-100" alt="responsive-bg-img" />
                                </picture>
                            </div>
                            <div class="card-body same-height">
                                <h3 class="card-title">Triple Negative Breast Cancer</h3>
                                <p class="card-text">ASCENT-05: A Randomized, Open-label, Phase 3 Study of Adjuvant.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-img-top">
                                <picture>
                                    <source media="(min-width:992px)" srcset="../images/imag2.jpg" />
                                    <source media="(min-width:768px)" srcset="../images/imag2.jpg" />
                                    <source media="(min-width:0px)" srcset="../images/imag2.jpg" />
                                    <img src="../images/imag2.jpg" class="img-fluid w-100" alt="responsive-bg-img" />
                                </picture>
                            </div>
                            <div class="card-body same-height">
                                <h3 class="card-title">Triple Negative Breast Cancer</h3>
                                <p class="card-text">ASCENT-05: A Randomized, Open-label, Phase 3 Study of Adjuvant.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Owl Carousel JS only for mobile -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" media="(max-width: 767px)"></script>

    <script src="../js/carousel.js"></script>
</body>

</html>
